
/* --- Document properties --- */

@font-face {
	font-family: Comfortaa-Bold;
	src: url("fonts/Comfortaa-Bold.ttf");
}

@font-face {
	font-family: Comfortaa-Regular;
	src: url("fonts/Comfortaa-Regular.ttf");
}

html {
	background-image: url("/images/loading.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-size: cover;
	background-color: #111111;
	height: 100%;
	overflow: hidden;
	
	/* Disable text highlighting */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input input:focus{
	border: 0px solid;
	outline: 0;
}

a {
	text-decoration: none;
	color: white;
	outline: none;
}

/* --- Volume slider properties --- */

#volumecontrol {
	position: fixed;
	right: 25px;
	bottom: 0px;
	height: 38px;
	margin: 10px 0;
	width: 96px;
	background: transparent;
	border: transparent;
	-webkit-appearance: none;
}

#volumecontrol::-moz-focus-outer {
	border: 0;
}

#volumecontrol:focus {
	outline: none;
}

#volumecontrol::-webkit-slider-runnable-track {
	width: 96px;
	height: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 25px #000000;
	background: #FFFFFF;
	border-radius: 10px;
	border: transparent;
}

#volumecontrol::-webkit-slider-thumb {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	height: 20px;
	width: 20px;
	border-radius: 30px;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
	border: transparent;
}

#volumecontrol::-moz-range-track {
	width: 96px;
	height: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 25px #000000;
	background: #FFFFFF;
	border-radius: 10px;
	border: transparent;
}

#volumecontrol::-moz-range-thumb {
	border: transparent;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	height: 20px;
	width: 20px;
	border-radius: 30px;
	background: #FFFFFF;
	cursor: pointer;
	margin-top: -5px;
}

#volumecontrol::-ms-track {
	width: 96px;
	height: 10px;
	cursor: pointer;
	border-color: transparent;
	background: transparent;
}

#volumecontrol::-ms-fill-lower {
	border: transparent;
	box-shadow: 0px 0px 25px #000000;
	background: #FFFFFF;
	border-radius: 10px;
}

#volumecontrol::-ms-fill-upper {
	border: transparent;
	box-shadow: 0px 0px 25px #000000;
	background: #FFFFFF;
	border-radius: 10px;
}

#volumecontrol::-ms-thumb {
	border: transparent;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	height: 20px;
	width: 20px;
	border-radius: 30px;
	background: #FFFFFF;
	cursor: pointer;
	margin-top: -5px;
}

/* --- Elements properties --- */

#videoplayer {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-size: cover;
}

#play {
	position: fixed;
	left: 0;
	bottom: 0;
	outline: none;
	display: block;
	-webkit-filter: drop-shadow(0px 0px 30px #000000);
	filter: drop-shadow(0px 0px 25px #000000);
}

#pause {
	position: fixed;
	left: 0;
	bottom: 0;
	outline: none;
	display: none;
	-webkit-filter: drop-shadow(0px 0px 30px #000000);
	filter: drop-shadow(0px 0px 25px #000000);
}

#player {
	position: absolute;
	left: -999em;
}

#text {
	position: fixed;
	margin-right: 0;
	margin-left: auto;
	right: 0;
	top: 0;
	padding-right: 30px;
	padding-top: 6px;
}

#title {
	font-family: Comfortaa-Bold;
	cursor: pointer;
	color: white;
	font-size: 40px;
	height: 45px;
	padding-left: 35px;
	text-shadow: 0px 0px 25px #000000;
}

#links {
	text-shadow: 0px 0px 15px #000000;
	font-family: Comfortaa-Regular;
	color: white;
	padding-top: 27px;
	padding-right: 30px;
	font-size: 20px;
}